#rightside{

    color: white !important

}

#navibrand{

    font-weight: bold;
    
    color: white;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


#navitemi{

    color: white !important; 

    font-weight: bold;
}

#navbarDropdown{

    color: white !important;
}

#maka{

    color:white !important;

    font-weight: bold;
}